body{
    background: rgb(255, 255, 255);
    margin: 0;
     /* display: flex;
    align-items: center;
    justify-content: center; */
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid red; */
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    /* overflow: hidden; */
}
.card{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 200px;
}
.sec{
    display: none;
}
.div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 200px;
    left: -40px;
    top: 80px;
    transition: all 0.6s ease-in-out;
    opacity: 0;
}
.div1{
    position: relative;
}
.txt0{
    text-decoration: none;
    background: white;
    color: black;
    width: 100px;
    transition: all 0.6s ease-in-out;
}
.txt0:hover{
    transform: translateY(-4px);
    transition: all 0.6s ease-in-out;
    color: #FF7132;
    border-radius: 5px;
}
.div1:hover .div2{
    opacity: 1;
    top: 22px;
    transition: all 0.6s ease-in-out;
}
.tx{
   font-weight: 700;
   font-size: 32px;
}
.sp{
    color: #FF7132;
    transition: all 0.6s ease-in-out;
}
.sp1{
    margin-left: 30px;
}
.txt{
    text-decoration: none;
    color: black;
    transition: all 0.6s ease-in-out;
    margin-left: 30px;
}
.bt{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 24px;
    background: rgb(224, 224, 224);
    color: #FF7132;
    margin-left: 20px;
    transition: all 0.6s ease-in-out;
}
.bt:hover{
    background: #FF7132;
    color: wheat;
    transition: all 0.6s ease-in-out;
    border-radius: 10px;
}

.txt:hover{
    border-bottom: 1px solid #FF7132;
    transition: all 0.6s ease-in-out;
    transform: translateY(-4px);
}
.div3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}
.ph{
    margin-left: 20px;
    transition: all 0.6s ease-in-out;
}
.ph:hover{
    transition: all 0.6s ease-in-out;
    transform: translateY(-4px);
}




























.block1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.txt1{
    color: #555555;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
li{
    color: #555555;
    font-weight: 500;
}
.xt1{
    color: #7B5896;
    font-size: 64px;
}
.xt, .xt1{
    margin-top: -53px;
    font-size: 64px;
}
.div5{
    margin-top: 70px;
}
.tx1{
    font-size: 20px;
    color: #7B5896;
}
.sp2{
    color: black;
}
.xts{
    margin-top: 40px;
}
.tx2{
    color: #555555;
}
.xt2{
    margin-top: -10px;
}
.bt1{
    color: #7B5896;
    transition: all 0.6s ease-in-out;
    font-weight: 700;
    font-size: 16px;
    width: 155px;
    height: 52px;
    border: none;
    margin-left: 20px;
}
.bt2{
    color: #7B5896;
    transition: all 0.6s ease-in-out;
     font-weight: 700;
    font-size: 16px;
    width: 155px;
    height: 52px;
    border: none;
    margin-left: 20px;
}
.bt1:hover, .bt2:hover{
    background: #7B5896;
    transition: all 0.6s ease-in-out;
    color: whitesmoke;
    border-radius: 20px;
}

.div8{
    margin-top: 30px;
}
.ph1{
    transition: all 0.6s ease-in-out;
}
.ph1:hover{
    transition: all 0.6s ease-in-out;
    transform: translateX(-4px) scale(1.15) rotate(360deg);
}











.block2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    width: 800PX;
    /* border: 2px solid red; */
    height: 150px;
    margin-top: 40px;
    transition: all 0.6s ease-in-out;   
}
.card2{
    display: flex;
    /* align-items: ; */
    margin-top: 50px;
}
.block2:hover{
    border-radius: 15px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.6s ease-in-out;
}


.tx3{
    margin-top: 30px;
    font-weight: 700;
    font-size: 32px;
}
.tx4{
    font-weight: 600;
    font-size: 20px;
    margin-top: -20px;
}
.card2:hover img{
    transition: all 0.9s ease-in-out;
    transform: translateY(-4px) scale(1.08);
    
}
.card2 img{
    transition: all 0.6s ease-in-out;
}




.tx5{
    text-align: center;
     font-weight: 700;
     font-size: 45px;
    margin-top: 100px;
}















.block3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.card3 {
  background: #fde7dc;
    transition: all 0.6s ease-in-out;
  border-radius: 16px;
}

.bt3 {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 14px 22px;
  background: transparent;
  border: none;
  border-radius: 16px;

  font-size: 16px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
    transition: all 0.6s ease-in-out;
}
.bt3:hover, .bt3:hover i {
    color: whitesmoke;
    transition: all 0.6s ease-in-out;
}
.card3:hover{
    transform: translateY(-10px);
    transition: all 0.6s ease-in-out;
    background: #ff6a2a;
}
.bt3 i {
  font-size: 18px;
  color: #ff6a2a;
    transition: all 0.6s ease-in-out;
}

/* Active holat */
.card3.active {
  background: #ff6a2a;
}

.card3.active .bt3 {
  color: #fff;
}

.card3.active i {
  color: #fff;
}








.block4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 30px   ;
}
.card4{
    width: 416px;
    height: 470px;
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(139, 137, 137, 0.521);
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}
.div12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tb{
    background: rgba(255, 230, 218, 1);
    border: none;
    font-weight: 700;
    font-size: 12px;
    width: 120px;
    height: 26px;
    border-radius: 20px;
    margin-left: 10px;
}
.div14{
    color: rgba(129, 64, 255, 1);
    font-weight: 700;
    margin-right: 20px;
    font-size: 22px;
}


.div15{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
      font-weight: 700;
      font-size: 22px;
}


.div16{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top:50px;
    transition: all 0.6s ease-in-out;
    border-top: 2px solid #000;
}

.div17{
    margin-top: 10px;
}

.div17 img{
    width: 30px;
    border-radius: 50%;
}

.bt4{
    display: inline;
    align-items: center;
    justify-content: center;
    background: #eeeeee;
    color:  rgba(255, 113, 50, 1);
    border: none;
    width: 100%;
    height: 43px;
    transition: all 0.6s ease-in-out;
    margin-top: 60px;
    opacity: 0;
}
.bt4:hover{
    transition: all 0.6s ease-in-out;
    color: #eeeeee;
    background:  rgba(255, 113, 50, 1);
}
.card4:hover .bt4{
    margin-top: 25px;
    transition: all 0.6s ease-in-out;
    opacity: 1;
}
.card4:hover .div16{
    margin-top: 5px;
    transition: all 0.6s ease-in-out;
}
.s{
    margin-top: 55px;
}
.hp{
    transition: all 0.6s ease-in-out;
}
.card4:hover .hp{
    content: url(photo/Ellipse\ 3\ \(1\).png);
    transition: all 0.6s ease-in-out;
}
.card4:hover{
    transition: all 0.6s ease-in-out;
    transform: translateY(-5px) scale(1.05);
    border: 2px solid #ff6a2a;
    border-radius: 20px;
}




.blockc{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    margin-top: -230px;
}

.cardd{
    position: relative;
    transition: all 0.6s ease-in-out;
}

.cardd1{
    transform: rotate(90deg);
    font-size: 40px;
    background: rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 10px;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
}

.cardd2{
    display: flex;
    gap: 20px;
    position: absolute;
    left: -240px;
    top: 600px;
    opacity: 0;
    transition: all 0.6s ease-in-out;
}

.rd1{
    width: 250px;
    height: 250px;
    border-radius: 5px;
    transition: all 0.6s ease-in-out;
}
.cardd1:hover{
    transition: all 0.6s ease-in-out;
    transform: rotate(-90deg);
    background: #ff6a2a;
    color: whitesmoke;
}
.cardd:hover .cardd2,
.cardd:focus .cardd2{
    top: 80px;
    opacity: 1;
    transition: all 0.6s ease-in-out;
}




.block5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    overflow: hidden;
    z-index: 999999;
}


.tx6{
    color: #ff7a18;
    font-weight: 600;
    text-transform: uppercase;
}

.tx7{
    font-size: 44px;
    font-weight: 800;
    margin: 15px 0 40px;
}
.xt3{
    margin-top: -35px;
}


.div18{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0px 5px 40px 0px rgba(189, 171, 13, 0.329);
    border-radius: 20px;
}
.tx8, .tx9{
    margin-left: 20px;
}
.tx9{
    margin-top: -10px;
    color: #777;
}
.tx8{
    font-weight: 700;
    font-size: 22px;
}
.div19 i{
    background: #ff4d6d;
    border-radius: 50%;
    color: whitesmoke;
    padding: 20px;
}


.div18:hover{
    transition: all 0.6s ease-in-out;
    background: whitesmoke;
    border-radius: 20px;
    transform: translateX(10px) scale(1.01);
}
.dv i{
    background: #FF7132;
}
.vd1 i{
    background: #2ecc71;
}









.tx10{
    text-align: center;
margin-top: 80px;
    font-size: 45px;
    font-weight: 700;
}



.block6 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: Arial, sans-serif;
}

.sp3 {
  font-size: 14px;
  color: #000;
}

.switch {
  position: relative;
  width: 42px;
  height: 22px;
}
.ps{
    margin-left: 50px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #2ecc71; 
  border-radius: 20px;
  transition: 0.3s;
  width: 86px;
  height: 32px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 26px;
  width: 26px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}
.switch input:checked + .slider {
  background-color: #000;
}
.switch input:checked + .slider::before {
  transform: translateX(55px);
  background: #2ecc71;
}









.rd1:hover{
    transform: translateY(-7px) scale(1.02);
    box-shadow: 0px 10px 40px -10px #777;
}



.block7{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.card7{
    padding: 40px;
    height: 498px;
    width: 416px;
    background: rgba(255, 113, 50, 1);
        border-radius: 16px;
    transition: all 0.6s ease-in-out;
    color: whitesmoke;
}
.card7:hover{
    border-radius: 16px;
    transition: all 0.6s ease-in-out;
    transform: translateY(-13px);
}
.ra{
    background: rgba(239, 81, 108, 1);
}
.ra1{
    background: rgba(48, 179, 56, 1);
}

.plan-title{
    font-weight: 700;
    font-size: 24px;
}
.price{
    font-weight: 700;
    font-size: 42px;
}
.desc{
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
}

.features{
    margin-top: 70px;
}

.ps1{
    margin-right: 20px;
    background: #e24400d3;
    color: whitesmoke;
    padding: 5px;
    transition: all 0.6s ease-in-out;
    border-radius: 50%;
}
.card7:hover .ps1{
    transition: all 0.6s ease-in-out;
    color: #ff6a2a;
    background: whitesmoke;
}




.btn{
    margin-top: 70px;
    padding: 10px;
    width: 168px;
    height: 48px;
    border: none;
    border-radius: 16px;
    color: black;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
    font-weight: 700;
}
.btn:hover{
    background: black;
    color: whitesmoke;
    transform: translateY(-10px) rotate(2deg);
    transition: all 0.6s ease-in-out;
}












.block8{
  max-width: 1100px;
  margin: 80px auto;
  padding: 60px 20px;
  background: #7b5c96;
  border-radius: 40px;
  text-align: center;
  color: #fff;
  font-family: Arial, sans-serif;
}

.block8 h2{
  font-size: 36px;
  margin-bottom: 15px;
}

.block8 p{
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 40px;
}

.input-box{
  max-width: 500px;
  margin: auto;
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 6px;
}

.input-box input{
  flex: 1;
  border: none;
  outline: none;
  padding: 16px 20px;
  border-radius: 50px;
  font-size: 14px;
}

.input-box button{
  border: none;
  background: #7b5c96;
  color: #fff;
  padding: 14px 28px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  transition: all 0.6s ease-in-out;
}

.input-box button:hover{
  transition: all 0.6s ease-in-out;
  background: #773ea8;
}












.block9{
  background: linear-gradient(90deg,#fff3e0,#fff);
  padding: 30px 60px 15px;
  font-family: Arial, sans-serif;
}

.footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;
}

.logo h2{
  font-size: 24px;
  font-weight: 700;
}

.logo span{
  color: #ff7a00;
}

.links{
  display: flex;
  gap: 35px;
}

.links a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  transition: all 0.6s ease-in-out;
}






.sec{
    display: none;
}
.links a:hover{
  text-decoration: underline #ff7a00;
  transition: all 0.6s ease-in-out;
  transform: translateY(-5px);
}

.social{
  display: flex;
  gap: 12px;
}

.social i{
  width: 36px;
  height: 36px;
  background: #7b5c96;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  transition: all 0.6s ease-in-out;
}

.social i:hover{
  /* opacity: 0.85; */
  transform: translateY(-10px) scale(1.02) rotate(360deg);
  transition: all 0.6s ease-in-out;
}

.footer-bottom{
  text-align: center;
  font-size: 13px;
  color: #555;
  margin-top: 15px;
}

/* Desktop menu */
.id {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* Burger icon yashirin desktopda */
.sec {
  display: none;
  cursor: pointer;
}

@media (max-width: 1300px){
  .id {
    display: none; /* menu boshlanishda yashirin */
    flex-direction: column;
    position: absolute;
    top: 60px; /* header balandligi */
    left: 410px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .sec {
    display: block;
    margin-right: -150px;
  }
  .id.active {
    display: flex; /* burger bosilganda ko‘rinadi */
  }
}


/* --- MEDIA QUERIES (RESPONSIVE DESIGN) --- */

/* 1. Katta monitorlar va Planshetlar uchun (1200px dan kichik) */
@media (max-width: 1200px) {
    .card, .block1, .block4, .block5, .block7 {
        flex-wrap: wrap; /* Elementlar sig'masa pastga tushadi */
        gap: 20px;
    }
    
    .card { gap: 50px; } /* Navbar elementlari orasidagi masofa */
    
    .card1 img {
        max-width: 90%; /* Rasmlar ekranga moslashadi */
        height: auto;
    }
}

/* 2. Kichik planshetlar uchun (992px dan kichik) */
@media (max-width: 992px) {
    .div.id {
        display: none; /* Navbar menyusini yashiramiz (Burger uchun) */
    }
    
    .fa-bars {
        display: block !important; /* Burger iconni ko'rsatamiz */
        font-size: 28px;
        cursor: pointer;
    }

    .xt, .xt1 {
        font-size: 40px; /* Sarlavha hajmini kichraytiramiz */
    }

    .block2 {
        flex-direction: column; /* Statistika (20k+, 10k+) ustma-ust tushadi */
        height: auto;
        padding: 20px;
    }
    .id {
    display: none; /* menu boshlanishda yashirin */
    flex-direction: column;
    position: absolute;
    top: 100px; /* header balandligi */
    left: 310px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .sec {
    display: block;
    margin-right: -150px;
  }
  .id.active {
    display: flex; /* burger bosilganda ko‘rinadi */
  }
}

/* 3. Telefonlar uchun (768px dan kichik) */
@media (max-width: 768px) {
    /* Asosiy bloklarni ustma-ust qilish */
    .block1, .block5 {
        flex-direction: column;
        text-align: center;
    }

    .div6, .div7, .div8 {
        justify-content: center;
        display: flex;
    }

    .block3 {
        flex-wrap: wrap; /* Kategoriyalar (Design) tugmalari */
    }

    .card4 {
        width: 90%; /* Kurs kartochkalari deyarli butun ekranni egallaydi */
    }

    .tx7 {
        font-size: 32px; /* "Life easy" sarlavhasi */
    }

    .block8 {
        margin: 20px;
        padding: 30px 15px;
    }

    .input-box {
        flex-direction: column;
        background: transparent;
    }

    .input-box input {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-top {
        flex-direction: column;
        gap: 20px;
    }
    .id {
    display: none; /* menu boshlanishda yashirin */
    flex-direction: column;
    position: absolute;
    top: 90px; /* header balandligi */
    left: 110px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    z-index: 999;
  }
  .sec {
    display: block;
    margin-right: -150px;
  }
  .id.active {
    display: flex; /* burger bosilganda ko‘rinadi */
  }
}

/* 4. Juda kichik telefonlar (480px) */
@media (max-width: 480px) {
    .xt, .xt1 {
        font-size: 30px;
    }
    
    .bt1, .bt2 {
        width: 130px;
        font-size: 14px;
    }
}